<!DOCTYPE html>
<html>
<head>
  <%- include ("../partials/header.ejs") %>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.0/clipboard.min.js"></script>
  <script> <!-- must be https for Chrome browsers to access current location -->
  if (location.protocol !== 'https:') {
    location.replace(`https:${location.href.substring(location.protocol.length)}`);
  } </script>
  <script>
      window.onload = function() {
        var clipboard = new ClipboardJS('.btn');
      }
  </script>
  <script type="text/javascript" src="/js/client.js"></script>
</head>

<body>

<div class="container-fluid">
  <div class="alert alert-info text-center" role="alert">
	  <H1> Welcome to the Anti Social Mob Cache </H1>
  </div>

  <div id="lj-startup">
    <!-- Remove option to create own game/room
      <h1 class="display-7">Enter the Game ID Reference Number:</h1>
      <form id="start-group-form">
          <button type="submit" class="btn btn-primary" href="#" role="button">Start Group</button>
      </form>
      <hr class="my-4">
     snip -->
      
      <h1 class="display-7">Enter the Geocaching ID Code for the game you wish to play:</h1>
      <form id="join-group-form">
          <div class="form-group">
              <input type="text" class="form-control" id="groupId" aria-describedby="Group Code">
              <small class="form-text text-muted">Use GCTEST for the testing game</small>
          </div>
          <button type="submit" class="btn btn-primary" href="#" role="button">Start Game</button>
      </form>
  </div>

  <div id="lj-in-game" style="display: none">
      <p>Game Code: <span id="current-group-id" class="badge badge-secondary"></span>
<!-- <span><button type="button" class="btn btn-primary btn-clipboard" data-clipboard-target="#current-group-id">Copy</button></span> -->
</p>
      <p>This game currently has <span id="current-group-member-count" class="badge badge-info"></span> active players</p>
      <p>You are located at: <span id="current-Lat" class="badge badge-info"></span>, <span id="current-Lon" class="badge badge-info"></span></p>
      
      <p>Your distance from each waypoint currently is:</p>
      <!-- Insert List of each waypoint, show coords and radius target and current distance -->
      <!-- TODO: Receive array of data from server.js and pass to index.ejs?
        // var pl.id WHERE id= '${socket.id}' // this is current player?
        // var pl.location
        // var pl.updated_at
	// var distance
	// var wp.name
        // var wp.radius
	-->
       	<p>Waypoint= <span id=wpname></p>
        <p>Radius= <span id=wpradius></p>
	<p>Distance= <span id=distance></p>
	
      <!-- Insert Table here showing Waypoints, My distance from each and other player's distance from each. Highlight a waypoint if "occupied"
      <table border="1"><caption>Current Player: #Location and #Timestamp Z</caption>
      <thead><tr><th>Waypoint</th><th>Radius</th><th>My Distance</th><th>Other Player Distances</th></tr></thead>
      <tbody>   
      <@ for (var i = 0; i < 2 i++) { @>   // replace the @s with %s once able to define variables. Also the 2 should be the maximum array number (wp.length?)
      <tr>
        <td><@= wp[i].name @> </td>
        <td><@= wp[i].radius @>m</td>
        <td><@= wp[i].distance @>m</td>
	<td>dist1,dist2,dist3 sort this out next ...</td>
      </tr>    
      <@ } @>
      </tbody></table>
       
      <p><b>DISPLAYINFO:</b></p>
     -->
      <pre><span id="displayinfo"></span></pre>
   
 </div>
   
   <!-- display a straight dump of the received data for debugging 
   </br><p><b>WPINFO:</b></p>
   <pre><span id="wpinfo"></span></pre>
   -->
   
   <div class="alert alert-info text-center" role="alert">
	  <i>Developed by Pprime` with a hell of a lot of help.  Hosted by Heroku. (c) 2021 All rights reserved.</i>
  </div>
</div>

</body>
</html>
