<!DOCTYPE html> <!-- INDEX.ejs -->
<html>
<head width: device-width>
  <%- include ("../partials/header.ejs") %>
 
  <!-- Leaflet + EasyButton stylesheets and source code are added here -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
     integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
     crossorigin=""/>
  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
     integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
     crossorigin="">
  </script>     
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet-easybutton@2/src/easy-button.css">
  <script src="https://cdn.jsdelivr.net/npm/leaflet-easybutton@2/src/easy-button.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  
  <script> <!-- must be https for most web browsers to access current location -->
     if (location.protocol !== 'https:') {
        location.replace(`https:${location.href.substring(location.protocol.length)}`);}
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.0/clipboard.min.js"></script>
  <script> window.onload = function() {var clipboard = new ClipboardJS('.btn');}</script>
 
  <!-- OUR CODE -->
  <script type="text/javascript" src="/js/client.js"></script>
</head>

<body width: device-width>
  <div class="alert alert-info text-center" role="alert" width: device-width>
     <!-- <H1> Welcome to the Anti-Social Mob HUB </H1> -->
     <H1> The Anti-Social Mob HUB Geocache </H1>
  </div>

  <div id="lj-startup" style="display: none" width: device-width>
     <h1 class="display-7">Enter the Geocaching ID Code for the game you wish to play:</h1>	
     <form id="join-game-form">
         <div class="form-game">    
              <input type="text" width:100 class="form-control" id="gameId" aria-describedby="Game Code">
              <small class="form-text text-muted"><span id="game-error"></span></small>
         </div>
         <button type="submit" class="btn btn-primary" href="#" role="button">Start Game</button>
     </form>
  </div>

  <div id="lj-in-game" style="display: none" width: device-width>
     <h1>Game Code: <span id="current-game-id" class="badge badge-secondary"></span>
         <span><button type="button" class="btn btn-secondary btn-sm btn-clipboard" data-clipboard-target="#current-game-id">Copy Code</button></span>
     </h1>
     <p><span id="gamedesc" class="badge badge-info"></span></p>
     <p>This game currently has <span id="current-game-player-count" class="badge badge-info"></span> active players</p>
     <p>You are located at: <span id="current-Lat" class="badge badge-info"></span> <span id="current-Lon" class="badge badge-info"></span> (+/-<span id="current-Acc" class="badge-light"></span>m)</p>

     <!-- Show all Players and Waypoints, target and current distance from each. Highlight a waypoint if "occupied"       -->
     <pre><span id="displayinfo" width: device-width></span></pre>
     <div id="mapid"></div>       <!-- Display map -->
     <script type="text/javascript" src="/js/showmap.js"></script>
  </div>
  
  <div class="alert alert-info text-center" role="alert" width: device-width>
     <i>Developed by Pprime` with a hell of a lot of effort.  Hosted by Heroku. (c) 2021 All rights reserved.</i>
     <form action="https://www.geocaching.com" method="get">
         <input type="submit" class="btn btn-danger btn-sm" value="Quit Game" name="Quit" id="frm_quit" style="float: right;"/> 
     </form>
  </div>
</body>
</html>
