<!DOCTYPE html>
<html>
<head>
  <%- include ("../partials/header.ejs") %>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.0/clipboard.min.js"></script>
  <script>
      window.onload = function() {
        var clipboard = new ClipboardJS('.btn');
      }
  </script>
  <script type="text/javascript" src="/js/mobcache-socketio.js"></script>
</head>

<body>

<div class="container-fluid">
  <div class="alert alert-info text-center" role="alert">
	  <H1> Welcome to the Anti Social Mob Cache </H1>
  </div>

  <div id="lj-startup">
      <!-- Remove option to create own game/room -->
      <h1 class="display-7">Enter the Game ID Reference Number:</h1>
      <form id="start-group-form">
          <button type="submit" class="btn btn-primary" href="#" role="button">Start Group</button>
      </form>
      <hr class="my-4">
      <!-- snip -->
      
      <h1 class="display-7">Enter the Geocaching ID Code for the Anti-Social mob you wish to play:</h1>
      <form id="join-group-form">
          <div class="form-group">
              <input type="text" class="form-control" id="groupId" aria-describedby="Group Code">
              <small class="form-text text-muted">Use GCTEST for the testing game</small>
          </div>
          <button type="submit" class="btn btn-primary" href="#" role="button">Join Group</button>
      </form>
  </div>

  <div id="lj-in-game" style="display: none">
      <p>Game Code: <span id="current-group-id" class="badge badge-secondary"></span>
<!-- <span><button type="button" class="btn btn-primary btn-clipboard" data-clipboard-target="#current-group-id">Copy</button></span> -->
</p>
      <p>This game currently has <span id="current-group-member-count" class="badge badge-info"></span> active players</p>
      <P>You are located at: <span id="current-location-and-time" class="badge badge-info" </span></p>
      <p>Your distance from each waypoint currently is:</p>
      <!-- Insert Table of each waypoint, show coords and radius target and current distance -->
  </div>

   <div class="alert alert-info text-center" role="alert">
		  <i>Developed by Pprime` with help.  Hosted by Heroku. (c) 2021 All rights reserved.</i>
  </div>
</div>

</body>
</html>
