<!DOCTYPE html>
<html>
<head>
  <%- include ("../partials/header.ejs") %>
  <script type="text/javascript" src="/s/ws-landing.js"></script>
</head>

<body>

<div class="container">
  <div class="alert alert-info text-center" role="alert">
	   Welcome to MobCache :-)
  </div>
  <hr>
  <div class="row">
    <div class="col-md-12">
      <h3><span class="glyphicon glyphicon-link"></span> Distances From Me</h3>
  	  <!-- div with distances -->
  	  <div id="distances" style="height: 300px"></div>
      </div>
  </div> <!-- row -->
   <div class="alert alert-info text-center" role="alert">
		   NodeJS Application with Web Socket Channel
  </div>
</div>

</body>
</html>
