<!DOCTYPE html>
<html>
<head width: device-width>
  <%- include ("../partials/header.ejs") %>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.0/clipboard.min.js"></script>
  <script> <!-- must be https for Chrome browsers to access current location -->
  if (location.protocol !== 'https:') {
    location.replace(`https:${location.href.substring(location.protocol.length)}`);
  } </script>
  <script>
      window.onload = function() {
        var clipboard = new ClipboardJS('.btn');
        // TODO also send display_udpate table
        // var display_update = localStorage.getItem('display_update');
        // var current-game = localStorage.getItem('current-game');
        // var game-description = localStorage.getItem ('game-description);
        // $("#displayinfo").text(display_update);
        // $("#current-game-id").text(current-game);
        // $("game-description").text(game-description);


        var reward_information = localStorage.getItem('reward_information');
        $("#rewardinfo").text(reward_information);

        // TODO: Clear the local storage once displayed
        //   localStorage.setItem('reward_information', null);
        //   localStorage.setItem('display_update', null);
        //   localStorage.setItem('current-game', null);
        //   localStorage.setItem('game-description', null);

      };

  </script>
</head>

<body width: device-width>

<div class="container-fluid">
  <div class="alert alert-info text-center" role="alert" width: device-width> <H1> Congratulations </H1> </div>
  <h1>Game Code: <span id="current-game-id" class="badge badge-secondary"></span>
      <span><button type="button" class="btn btn-secondary btn-sm btn-clipboard" data-clipboard-target="#current-game-id">Copy Code</button></span>
      </h1>
  <p><b><i><span id="game-description"></i></b></p>
  // <p>This game currently has <span id="current-game-player-count" class="badge badge-info"></span> active players</p>
  // <p>You are located at: <span id="current-Lat" class="badge badge-info"></span>, <span id="current-Lon" class="badge badge-info"></span></p>
  <pre><span id="displayinfo"></span></pre>

  <div id="lj-reward">
     <!-- Show Reward screen -->
     <div class="alert alert-success text-center" role="alert" width: device-width>
     <pre><H1><strong><span id="rewardinfo"></span></strong></H1></pre>
     <span><button type="button" class="btn btn-secondary btn-sm btn-clipboard" data-clipboard-target="#rewardinfo">Copy</button></span>
  </div>
 </div>

 <div class="alert alert-info text-center" role="alert" width: device-width>
    <i>Developed by Pprime` with a hell of a lot of effort.  Hosted by Heroku. (c) 2021 All rights reserved.</i>
 </div>
</div>
</body>
</html>
