<!DOCTYPE html> <!-- REWARD.ejs -->
<html>
<head width: device-width>
  <%- include ("../partials/header.ejs") %>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.0/clipboard.min.js"></script>
  <script>
  if (location.protocol !== 'https:') {
    location.replace(`https:${location.href.substring(location.protocol.length)}`);
  } </script>
  <script>
     window.onload = function() {
        // navigator.geolocation.clearWatch(); //stop phone's GPS Locator service
        var clipboard = new ClipboardJS('.btn');
        var reward_information = localStorage.getItem('reward_information');
        console.log("Receive Reward:",reward_information);
        $("#rewardinfo").text(reward_information);
        var display_update = localStorage.getItem('display_update');
        $("#displayinfo").empty().append(display_update);
        var game_description = localStorage.getItem('game_description');
        $("#gamedesc").text(game_description);
        var current_game = localStorage.getItem('current_game');
        $("#current-game-id").text(current_game);   
        var mylat = localStorage.getItem('my_lat');
        $("#current-Lat").text(mylat);   
        var mylon = localStorage.getItem('my_lon');
        $("#current-Lon").text(mylon);   
        localStorage.clear(); //Is there an issue removing this command?
      };
  </script>
</head>

<body width: device-width>
  <div class="alert alert-success text-center" role="alert" width: device-width> <H1> Congratulations! </H1> </div>
  <div id="lj-reward" width: device-width>
    <!-- Show Game information -->
    <h1>Game Code: <span id="current-game-id" class="badge badge-secondary"></span>
    <span><button type="button" class="btn btn-secondary btn-sm btn-clipboard" data-clipboard-target="#current-game-id">Copy Code</button></span>
    </h1>
    <p><span id="gamedesc" class="badge badge-info"></span></p>
    <p>You are located at: <span id="current-Lat" class="badge badge-info"></span>, <span id="current-Lon" class="badge badge-info"></span></p>
    <pre><small><span id="displayinfo"></span></small></pre>
  </div>
  
  <div class="alert alert-success text-center" role="alert">
    <!-- Show the Reward information -->
    <pre><H1><strong><span id="rewardinfo"></span></strong></H1></pre>
    <span><button type="button" class="btn btn-secondary btn-sm btn-clipboard" data-clipboard-target="#rewardinfo">Copy</button></span>
  </div>
 
  <div class="alert alert-info text-center" role="alert" width: device-width>
    <i>Developed by Pprime` with a hell of a lot of effort.  Hosted by Heroku. (c) 2021 All rights reserved.</i>
  </div>
</body>
</html>
